.divItem{
    background-color: #FFF;
    margin: 10px;
    position: relative;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
}
.itemSuggestion{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #5AABF1;
    color: #FFF;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divImage{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageBox{
    height: 120px;
}
.textProduct{
    width: 100%;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F97242;
    color: #FFF;
    font-weight: bold;
}